@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  src: url('/src/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  src: url('/src/fonts/Montserrat-Bold.ttf');
}
