

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  src: url('/src/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url('/src/fonts/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  src: url('/src/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  src: url('/src/fonts/OpenSans-Bold.ttf');
}


@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  src: url('/src/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  src: url('/src/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  src: url('/src/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  src: url('/src/fonts/Montserrat-Bold.ttf');
}