

.aben_shortcodes{
  margin-bottom: 30px;
 .panel {
   border-radius: 3px;
 }
 .panel-default > .panel-heading{
   background-color: var(--col-light-grey);
   color: var(--col-black);
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 1.07;
   text-transform: uppercase;
   strong{
     text-transform: uppercase;
     }
   }
  .panel-footer{
    background-color: var(--col-light-grey);
  }

 .form-control:focus {
    border-color: #e5e5e5;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  .form-control{
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    line-height: 1.57;
    font-size: 12px;
  }
  .form-control.input-lg{
    padding: 0 60px 0 15px;
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    line-height: 1.57;
    font-size: 14px;
  }

  textarea.form-control {
    height: 150px;
    resize: none;
  }
  label {
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: left;
    color: var(--black);
  }
  .refresh-math-captcha{
    color: #6b7d7b;
  }


  .btn-primary{
    border: 0;
    background-image: none;
    background-color: var(--col-battleship-grey);
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    &:hover,&:active{
      border: 0;
      outline: none;
      background-image: none;
      background-color: var(--col-battleship-grey);
    }
  }
  .btn-submit-look{
    width: 50px;
    border: 0;
    outline: none;
    &:hover,&:active{
      border: 0;
      outline: none;
    }
  }

  .image-holder .rps-ribbon.rps-ribbon-info{
    background-color: #dc3838;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    text-shadow: none;
  }

  .image-holder .rps-price.rps-price-default{
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }

  .rps-result-feature-label-sm{
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    background: var(--col-battleship-grey);
    margin-right: 3px;
    margin-bottom: 3px;
    display: block;
    float: left;
  }
}