@import "../tools/mixins";
@import "../tools/breakpoints";

.product{
  padding-top: 60px;
  &__name{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: var(--col-black);
  }
  &__price{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.1;
    color: var(--col-black);
  }
  &__code{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    color: #666;
  }
  &__top{
    margin-bottom: 10px;
  }
  &__bottom{
    margin-bottom: 25px;
  }

  &__column{
    margin-bottom: 30px;
  }
  &__carousel{
    position: relative;
    height: 570px;
  }
}

.product-prev{
  margin-bottom: 30px;
  a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--col-warm-grey);
    &:hover{
      color: var(--col-black);
    }
  }
}

.product-soc{
  &__list{}
  &__item{
    display: table-cell;
    &:nth-child(1){
      .product-soc__link{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    &:nth-last-child(2){
      .product-soc__link{
        border-right: solid 1px #ebebeb;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    &:last-child{
      .product-soc__link{
        margin-left: 10px;
        width: 104px;
        border-radius: 3px;
        border-right: solid 1px #ebebeb;
      }
    }
  }
  &__link{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: solid 1px #ebebeb;
    border-right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--col-battleship-grey);
    @include transition;
    &:hover{
      background-color: #ebebeb;
    }
    i{
      font-size: 16px;
    }
    .icon-facebook{ color: #6081c4; }
    .icon-mail2{ color: #6b7d7b; }
    .icon-play{ color: #f15a4b; }
    .icon-google-plus{ color: #e62b33; }
    .icon-twitter{ color: #43bdef; }
    .icon-linkedin2{ color: #2797cf; }
    .icon-pinterest{ color: #e62b33; }
  }
}


.product-images{
  height: 570px;
  border: solid 1px #ebebeb;
  overflow: hidden;
  ::-webkit-scrollbar
  {
    width: 9px;
    height: 12px;
  }

  ::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 15px;
    background-color: #ebebeb;
  }
  &__list{
    overflow-y: scroll;
    height: 570px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0 0 10px 10px;
  }
  &__item{
    padding: 3px 4px;
    max-width: 114px;
    display: inline-block;
    position: relative;
    height: 76px;
    margin-bottom: 4px;
    &.active{
      &:after{
        content: '';
        position: absolute;
        top: 1px;
        right: 0;
        left: 0;
        bottom: 1px;
        border: solid 4px var(--col-battleship-grey);


      }
    }
    a{
      display: block;
    }
    img{
      pointer-events: none;
    }
  }
}



.product-form{
  padding: 60px 0;
  background-color: #eeeeee;
  &__content{
    padding: 50px 0;
  }
  &__list{
    margin-bottom: 30px;
    li{
      display: inline-block;
      i{
        font-size: 30px;
        position: relative;
        color: #ccc;
        top: 3px;
        margin-right: 5px;
      }
      span{
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: var(--col-battleship-grey);
      }
    }
    li + li{
      margin-left: 30px;
    }
  }
  &__title{
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: var(--col-black);
    margin-bottom: 20px;
  }
  &__btn{
    max-width: 100%;
    @media (max-width: $breakpoint-sm){
      max-width: 270px;
    }
    i{
      font-size: 16px;
      position: relative;
      top: 3px;
      left: 5px;
    }
  }
}

.product-info{
  padding: 30px 0;
  &__block{
    margin-bottom: 10px;
  }
  &__top{
    position: relative;
    &.--panel{
      cursor: pointer;
    }
  }
  &__bottom{
    margin: 15px 0;
    padding: 15px 0 5px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  &__column{
    margin-bottom: 20px;
    span:nth-child(2){
      margin: 0;
    }
  }
  &__icon{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 12px;
    @include transition;
    &.js-active{
      transform: scale(-1);
    }
  }
  &__table-wrap{
    @media (max-width: $breakpoint-sm){
      overflow-x: auto;
    }
  }
  &__table{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-sm){
      width: 550px;
    }
    th{
      padding: 10px 0;
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: var(--col-battleship-grey);
      font-weight: bold;
    }
    td{
      padding: 10px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: var(--col-warm-grey);
    }
  }
  &__list-circle{
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 20px;
    li{
      display: list-item;
      margin-bottom: 10px;
    }
  }
  &__image{
    float: right;
  }
}

.broker-column-row{
  @media (max-width: $breakpoint-lg){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 30px;
  }
}
.broker-column{
  max-width: 270px;
  border: solid 1px #ebebeb;
  padding: 15px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-lg){
    & + & {
      margin-left: 30px;
      @media (max-width: 620px){
        margin-left: 0;
      }
    }
  }
  &__top{
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
  }
  &__image{
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  &__name{
    span{
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.57;
      color: var(--col-black);
    }
    span:nth-child(1){
      font-weight: bold;
    }
    span:nth-child(2){
      font-weight: normal;
      font-style: italic;
    }
  }
  &__txt{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: var(--col-black);
  }
}

.product-tabs{
  &__list{}
  &__wrap{
    padding: 0;
    background-color: transparent;
    margin-bottom: 20px;
  }
  &__list-item{
    display: inline-block;
  }
  &__list-link{
    display: block;
    height: 50px;
    padding: 0 15px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    color: var(--col-black);
    border: solid 1px transparent;
    @media (max-width: $breakpoint-sm){
      padding: 0 5px;
      font-size: 11px;
      height: 35px;
      line-height: 35px;

    }
    &.active{
      border: solid 1px #ebebeb;
    }
  }
}

#product_map{
  height: 500px;
  @media (max-width: $breakpoint-md){
    height: 400px;
  }
  @media (max-width: $breakpoint-sm){
    height: 300px;
  }
}