@import "../tools/mixins";
@import "../tools/breakpoints";


.search{
  &__content{
    padding: 60px 0;
  }
  &__top{
    margin-bottom: 25px;
  }
  &__top-row{
    @media (max-width: $breakpoint-sm){
      justify-content: center;
      .column{
        width: 100%;
      }
    }
  }
  &__res{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.83;
    color: var(--col-battleship-grey);
  }
  &__wrap{
    .search__column{
      @include grid-size(33.33333%);
      @media (max-width: $breakpoint-lg){
        @include grid-size(50%);
      }
      @media (max-width: $breakpoint-sm){
        @include grid-size(100%);
      }
    }
    &.--list-orientation{
      .search__column{
        @include grid-size(100%);
        .search-item {
          max-width: 100%;
          @media (max-width: $breakpoint-sm){
            max-width: 370px;
          }
        }
        .search-item__img-wrap{
          @include grid-size(370px);
          @media (max-width: $breakpoint-md){
            @include grid-size(50%);
          }
          @media (max-width: $breakpoint-sm){
            @include grid-size(100%);
          }
        }
        .search-item__content-wrap{
          @include grid-size(calc(100% - 370px));
          @media (max-width: $breakpoint-md){
            @include grid-size(50%);
          }
          @media (max-width: $breakpoint-sm){
            @include grid-size(100%);
          }
        }
        .search-item__bottom{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          @media (max-width: $breakpoint-sm){
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
  &__column{
    padding: 0 15px;
  }
}




.search-item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border: solid 1px #ebebeb;
  max-width: 370px;
  margin: auto auto 40px;
  &__img-wrap{
    position: relative;
    @include grid-size(100%);
  }
  &__content-wrap{
    position: relative;
    @include grid-size(100%);
  }
  &__img{
    height: 270px;
    background-color: #f2f2f2;
  }
  &__label{
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    border-radius: 13px;
    background-color: #262626;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  &__status{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    border-radius: 13px;
    background-color: #dc3838;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  &__price{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 55px;
    line-height: 55px;
    background-color: rgba(107, 125, 123, 0.8);
    text-align: center;
    @media (max-width: $breakpoint-md){
      width: inherit;
      padding: 0 10px;
      height: 35px;
      line-height: 35px;
    }
    span{
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase;
      @media (max-width: $breakpoint-md){
        font-size: 18px;
      }
      @media (max-width: $breakpoint-sm){
        font-size: 16px;
      }
    }
  }
  &__content{
    padding: 30px;
    @media (max-width: $breakpoint-md){
      padding: 20px;
    }
  }
  &__name{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    @include text-ellipsis(1);
    height: 28px;
    color: var(--col-black);
    @media (max-width: $breakpoint-md){
      font-size: 18px;
      height: 21px;
    }
  }
  &__location{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    .icon-marker{
      color: var(--col-battleship-grey);
    }
  }
  &__bottom{
    height: 50px;
    border-top: 1px solid #ebebeb;
  }
  &__property{
    position: relative;
    @include grid-size(50%);
    text-align: center;
    line-height: 50px;
    & + &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 50px;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #ebebeb;
    }
    span{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: normal;
      color: #666;
    }
  }
  &__{}
}






.search-form{
  &__select, &__btn{
    width: 270px;
    @media (max-width: $breakpoint-lg){
      width: 200px;
    }
    @media (max-width: $breakpoint-md){
      margin-bottom: 10px;
    }
  }
}
.search-filter{
  &__item{
    display: inline-block;
  }
  &__link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    line-height: 43px;
    color: var(--col-battleship-grey);
    @include transition;
    &.active{
      background-color: #ebebeb;
    }
    &:hover{
      background-color: #ebebeb;
    }
  }
}


.search-list-count{
  &__item{
    display: inline-block;
  }
  &__link{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: var(--col-battleship-grey);
    @include transition;
    &.active{
      background-color: #ebebeb;
    }
    &:hover{
      background-color: #ebebeb;
    }
  }
}


.pagination{
  text-align: center;
  margin-bottom: 10px;
  &__list{
    display: table;
    margin: auto;
  }
  &__item{
    display: table-cell;
    &:nth-child(1){
      .pagination__link{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    &:last-child{
      .pagination__link{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
  &__link{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 1px #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--col-battleship-grey);
    @include transition;
    &:hover{
      color: #fff;
      background-color: var(--col-battleship-grey);
      border: solid 1px var(--col-battleship-grey);
    }
    &.active{
      color: #fff;
      background-color: var(--col-battleship-grey);
      border: solid 1px var(--col-battleship-grey);
    }
  }
}
