@import "../tools/mixins";
@import "../tools/breakpoints";

.header{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  padding-top: 20px;
  @include transition;
  backface-visibility: hidden;
  &.js-active{
    background-color: rgba(0,0,0,0.45);
  }
  &.js-fixed{
    position: fixed;
    background-color: rgba(0,0,0,0.45);
  }
  @media (max-width: $breakpoint-lg){
    padding-top: 15px;
  }
  @media (max-width: $breakpoint-md){
    background-color: rgba(0,0,0,0.45);
    padding: 15px 0;
  }
  &__top{
    margin-bottom: 30px;
    @media (max-width: $breakpoint-lg){
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-sm){
      margin-bottom: 15px;
    }
  }
  &__bottom{
    position: relative;
  }
  &__column{
    padding: 0 15px;
  }
  &__social{
    a{
      color: #ccc;
    }
    a:hover{
      color: #fff;
    }
  }
  &__phone{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }
  }
  &__logo{
    display: block;
    max-width: 245px;
    @media (max-width: $breakpoint-lg){
      max-width: 200px;
    }
    @media (max-width: 850px){
      max-width: 160px;
    }
    @media (max-width: $breakpoint-md){
      max-width: 200px;
    }
  }
}

.header-list{
  @media (max-width: $breakpoint-md){
    display: none;
    position: absolute;
    left: -15px;
    right: -15px;
    top: 51px;
    background-color: rgba(0,0,0,0.45);
  }
  &__item{
    position: relative;
    display: inline-block;
    @media (max-width: $breakpoint-md){
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    & + & {
      margin-left: 30px;
      @media (max-width: $breakpoint-lg){
        margin-left: 15px;
      }
      @media (max-width: $breakpoint-md){
        margin-left: 0;
      }
    }

    &:hover{
      > .sub-menu{
        display: block;
      }
    }
  }
  &__link{
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    padding: 30px 0;
    color: #fff;
    @include transition;
    @media (max-width: $breakpoint-lg){
      padding: 15px 0;
    }
    @media (max-width: $breakpoint-md){
      padding: 0;
    }
    &:before, &:after{
      content: '';
      position: absolute;
      bottom: 25px;
      height: 2px;
      width: 0;
      background-color: #fff;
      @include transition;
      @media (max-width: $breakpoint-lg){
        bottom: 10px;
      }
      @media (max-width: $breakpoint-lg){
        bottom: -5px;
      }
    }
    &:before{
      right: 50%;
    }
    &:after{
      left: 50%;
    }
    &:hover{
      &:before,  &:after{
        width: 15px;
      }
    }
    &.active{
      &:before,  &:after{
        width: 15px;
      }
    }
  }
}

.sub-menu{
  display: none;
  position: absolute;
  width: 375px;
  top: 82px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.45);
  @media (max-width: $breakpoint-lg){
    top: 52px;
  }
  @media (max-width: $breakpoint-md){
    display: none!important;
  }
  li{
    display: block;
    margin-left: 0!important;
    margin-bottom: 10px;
  }
  a{
    padding: 0!important;
    &:before, &:after{
      bottom: -5px;
    }
  }
}

.hamburger {
  display: none;
}

@media (max-width: $breakpoint-md) {
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    margin: 0;
    padding: 6px 0;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &, .hamburger__box {
      cursor: pointer;
      display: inline-block;
    }
    &__box {
      position: relative;
      width: 40px;
      height: 24px;
      top: 0;
    }
    &__inner {
      display: block;
      margin-top: -2px;
      &, &:before, &:after {
        position: absolute;
        width: 40px;
        height: 2px;
        border-radius: 10px;
        top: auto;
        bottom: 0;
        -webkit-transition-delay: .13s;
        transition-delay: .13s;
        -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transition-duration: .13s;
        transition-duration: .13s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        background-color: #fff;
      }
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        top: -10px;
        -webkit-transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
        transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19), -webkit-transform .13s cubic-bezier(.55, .055, .675, .19);
      }
      &:after {
        bottom: -10px;
        top: -20px;
        -webkit-transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
        transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
      }
    }
  }
  .is-active{
    .hamburger__inner{
      -webkit-transition-delay: .22s;
      transition-delay: .22s;
      -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translate3d(0,-10px,0) rotate(-45deg);
      transform: translate3d(0,-10px,0) rotate(-45deg);
    }
    .hamburger__inner:before{
      top: 0;
      -webkit-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s,-webkit-transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .hamburger__inner:after{
      top: 0;
      -webkit-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
      opacity: 0;
    }
  }
}



.js-show {display:block;}