@import "../tools/mixins";
@import "../tools/breakpoints";


.social-list{
  &__item{
    display: inline-block;
    & + &{
      margin-left: 15px;
      @media (max-width: $breakpoint-sm){
        margin-left: 10px;
      }
    }
  }
  &__link{
    display: block;
    font-size: 16px;
    color: #999;
    @include transition;
  }
}

.app-form{
  padding: 60px 0 80px 0;
  background-color: var(--col-light-grey);
  &__bottom-column{
    @include grid-size(300px);
  }
  &__captcha{
    width: 270px;
    height: 67px;
    border-radius: 3px;
    background-color: #fafafa;
    border: solid 1px #d6d6d6;
    @media(max-width: 620px){
      margin-bottom: 30px;
    }
  }
}




.app-testimonial{
  background-color: #eee;
  &__quote{
    display: block;
    margin: 45px 0;
    text-align: center;
    font-size: 30px;
    color: var(--col-battleship-grey);
    @media (max-width: $breakpoint-lg){
      margin: 30px 0;
    }
  }
}

.testimonial{
  &__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.61;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
  }
  &__name{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.89;
    text-align: center;
    text-transform: uppercase;
    color: var(--col-black);
    margin-bottom: 10px;
  }
  &__role{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.64;
    text-align: center;
    color: var(--col-warm-grey);
  }
}


